.card-item {
  height: 320px;
  background-color: #6b9be9;
  margin: 0px 0px 15px 15px;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  overflow: scroll;
}

.group {
  height: 370px;
}

.add-to-cart {
  position: relative;
  bottom: 59px;
  left: 15px;
  width: 94.6%;
  height: 45px;
  color: #ffc72c;
  background-color: #da291c;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.soldout {
  position: relative;
  bottom: 59px;
  left: 15px;
  width: 94.6%;
  height: 45px;
  color: rgb(149, 149, 149);
  background-color: rgb(172, 172, 172);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-item:hover {
  height: 320px;
  background-color: #6b9be9;
  margin: 0px 0px 15px 15px;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  overflow: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
  display: flex;
  height: 170px;
  background-color: #ffc72c;
  align-items: center;
  justify-content: center;
}

.name {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 215px;
  font-weight: 800;
  text-align: center;
}

.details {
  display: flex;
  font-size: 16px;
  margin: 5px 0px 5px 0px;
}

.font-weight {
  margin-left: 5px;
  font-weight: 700;
}

.price {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
  margin-right: 10px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}
