.card-item {
  height: 320px;
  background-color: #6b9be9;
  margin: 15px 0px 0px 15px;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  overflow: scroll;
}

.card-item:hover {
  height: 320px;
  background-color: #6b9be9;
  margin: 15px 0px 0px 15px;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  overflow: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
  display: flex;
  height: 170px;
  background-color: #ffc72c;
  align-items: center;
  justify-content: center;
}

.name {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 215px;
  font-weight: 800;
  text-align: center;
}

.details {
  display: flex;
  font-size: 16px;
  margin: 5px 0px 5px 0px;
}

.font-weight {
  margin-left: 5px;
  font-weight: 700;
}

.price {
  text-align: right;
  font-size: 20px;
  font-weight: 900;
  color: #ffc72c;
}
